.panel
  %h3= @page.title
  .panel_contents
    .attributes_table
      %table
        %tr.row
          %th URL
          %td= @page.parent_path
        %tr.row
          %th SEO, ключевые слова
          %td= @page.meta_key
        %tr.row
          %th SEO, краткое описание
          %td= @page.meta_desc