%br

.box-news.mt10
  %h3 Наши новости
  %hr
  %ul
    - @news.each do |news|
      %li
        .date
          = news.created_at.strftime("%d.%m.%Y")
        .title
          = link_to news.title, news
        .text= raw truncate(news.desc, :length => 100, :separator => ' ')