<div id="about" class="page-alternate">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Обо мне</h2>


          <h3 class="title-description">Ботунов Григорий</h3>

          <div class="page-description row">
            <!-- Start Profile -->
            <div class="span6">
              <div class="image-wrap">
                <img src="/assets/img/profile/profile-01.jpg" alt="John Doe">
              </div>
              <p class="profile-description">
                Я в социальных сетях:
                <a class="social_icons fb" href="https://www.facebook.com/grigarash.bot" target="_blank"></a>
                <a class="social_icons vk" href="http://vk.com/botunov_foto" target="_blank"></a>
              </p>
            </div>
            <!-- End Profile -->
            <div class="span6">
              <p>
                Меня зовут Ботунов Григорий, я профессиональный свадебный фотограф. Свадебные фото, созданные профессиональным фотографом, отличаются высоким художественным стилем
                и превосходным качеством, поскольку фотограф проводит свадебную фотосессию с душой и вкусом, чтобы передать неповторимую атмосферу вашего свадебного торжества .Если
                вы предпочитаете постановочную фотосъемку, то следует полностью довериться своему фотографу и следовать его советам, однако не стоит забывать, что статичные позы
                для свадебной фотосессии, какими бы красивыми они не были, оживят только ваши непринужденные эмоции и раскрепощенность перед фотокамерой. Поэтому я всегда стараюсь
                с каждым из вас встретиться до вашего торжественного дня, познакомиться и обсудить каждую деталь дня свадьбы и в итоге вы получили красивые и живые свадебные фото.
              </p>

              <p>
                Роль фотографа на свадьбе трудно переоценить, ведь именно его работа позволяет зафиксировать такие радостные моменты как одевание колец, первый поцелуй молодоженов,
                бросание букета, подвязки, радостные лица родителей и друзей.
              </p>

            </div>
          </div>

          <div class="page-description row">
            <div class="span12">
              <p>
                Свадебный фотограф наряду с тамадой, свидетелями и близкими родственниками является самым важным человеком на свадьбе, ведь именно от его профессионализма и
                художественного таланта зависит насколько удачной и незабываемой будет свадебная фотосессия.
              </p>

              <p>
                У вас всегда есть возможность заказать оригинальную свадебную фотосессию , при которой фотограф подберет наиболее подходящее и необычное место, что позволит сделать
                самые красивые и запоминающиеся кадры. Каждая свадебная фотосъемка для меня индивидуальна и неповторима, именно поэтому я вкладываю душу и силы в этот незабываемый
                день.
              </p>

              <p>
                Как фотограф может сделать свадьбу неповторимым событием? – могут спросить многие. Для этого у него есть множество особых техник и приемов. Мне, как
                профессиональному фотографу очень важно, чтобы мои свадебные фотографии всегда были на высоком техническом уровне, поэтому я использую только профессиональную
                фототехнику Canon.
              </p>

              <p>
                Буду рад сотрудничать с каждым желающим. Ознакомиться с моими работами вы можете в разделе http://botunov.ru/#home-slider . Свяжитесь со мной, и мы все тщательно
                продумаем и обсудим, вместе решим, как и где провести свадебную фотосъемку. Проживаю в Пензе, но при желании всегда могу приехать к вам в город. Я приложу максимум
                усилий, чтобы Ваши свадебные фото напоминали Вам о счастливом дне - Дне Вашей Свадьбы.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Title Page -->

  </div>
</div>