<div id="about" class="page-alternate">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Обо мне</h2>


          <h3 class="title-description">Ботунов Григорий</h3>

          <div class="page-description row">
            <!-- Start Profile -->
            <div class="span6">
              <div class="image-wrap">
                <img src="/assets/img/profile/profile-01.jpg" alt="John Doe">
              </div>
              <p class="profile-description">Я в социальных сетях:</p>

              <div class="social">
                <ul class="social-icons">
                  <li><a href="https://www.facebook.com/grigarash.bot"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End Profile -->
            <div class="span6">
              <p>
                Специализируюсь на свадебной фотографии и портретной съёмке. Доверьте мне свои свадебные фотографии и я
                запечатлею все самые чувственные и веселые моменты Вашего Дня!
              </p>
              <p>
                Работаю в Пензе , фотосъёмка в других
                городах всегда оговаривается заранее. Буду рад сотрудничать с каждым желающим. Свяжитесь со мной, и мы
                все тщательно продумаем и обсудим, вместе решим, как и где провести свадебную фотосъемку. Я приложу
                максимум усилий, чтобы Ваши свадебные фотографии напоминали Вам о счастливом дне - Дне Вашей Свадьбы.
              </p>

            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Title Page -->

  </div>
</div>