<div id="about" class="page-alternate">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Обо мне</h2>

          <h3 class="title-description">«Технически совершенная фотография может быть самой скучной картинкой в мире.»
            (Andreas Feininger)</h3>

          <div class="page-description row">
            <!-- Start Profile -->
            <div class="span6">
              <div class="image-wrap">
                <img src="/assets/img/profile/profile-01.jpg" alt="John Doe">
              </div>
              <p class="profile-description">Я в социальных сетях:</p>

              <div class="social">
                <ul class="social-icons">
                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                  <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End Profile -->
            <div class="span6">
              <p>Мне всегда нравились красивые фотографии у других людей, но никогда не приходила мысль, что я могу
                творить не хуже. Я всегда считала, да и до сих пор придерживаюсь мнения, что фотография-это довольно
                сложная штука, а цифровая фотография, хот я и выглядит проще, все равно остается для изучения далеко не
                простым предметом!</p>

              <p>Не стоимость фотоаппарата, не сложность процесса обработки, не качество объектива, не уникальность
                объекта-ничто не влияет на конечный результат так, как тот, кто смотрит в видоискатель и нажимает кнопку
                спуска.</p>
              <h3>Мое оборудование:</h3>
              <ul>
                <li>Фотоаппарат: Canon eos 5d Mark III,Canon eos 7d,</li>
                <li>Объектив:  Canon 50 1,2 L, Canon 24-70 2,8 L, Canon 50 1.4, Canon 85 1,8. Canon 17-40 4L</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Title Page -->

  </div>
</div>