<div id="contact" class="page-alternate">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Мои контакты</h2>

          <div class="page-description">
            <ul>
              <li><b>e-mail:</b> botunov@gmail.com</li>
              <li><b>tel:</b> +7(962)4737340</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Title Page -->
  </div>
</div>

<!-- Socialize -->
<div id="social-area" class="page">
  <div class="container">
    <div class="row">
      <div class="span12">
        <nav id="social">
          <ul>
            <li><a href="https://www.facebook.com/grigarash.bot" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- End Socialize -->