<div id="contact" class="page-alternate">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Мои контакты</h2>

          <div class="page-description">
            <ul>
              <li>Заказать фотосъемку можно по телефону в Москве: +7 (916) 750-60-24</li>
              <li>Или связаться со мной по почте <a href="mailto:info@photo-persona.ru">info@photo-persona.ru</a></li>
              <li>skype <b>dsaasdc</b></li>
              <li>icq <b>234876</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Title Page -->
  </div>
</div>

<!-- Socialize -->
<div id="social-area" class="page">
  <div class="container">
    <div class="row">
      <div class="span12">
        <nav id="social">
          <ul>
            <li><a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
            <li><a href="https://www.facebook.com/Bluxart" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
            <li><a href="https://plus.google.com/105500420878314068694" title="Follow Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- End Socialize -->