%header
  .sticky-nav

    %a#mobile-nav.menu-nav{:href=>"#menu-nav"}

    #logo
      %a#goUp{:href=>"#home-slider", :title=>"Chakra | Responsive One Page Template"} Chakra Template

    %nav#menu
      %ul#menu-nav
        %li
          %a.external{:href=>"/"} Домой
        %li.current
          %a.external{:href=>"/#work"} Портфолио
        %li
          %a{:href=>"/#about"} Обо мне
        %li
          %a{:href=>"/#services"} Услуги
        %li
          %a{:href=>"/#contact"} Контакты