<div class="phone-block">
	Телефон для связи в&nbsp;Москве
	<div class="phone-number">+ 7 495<span> 943-43-81</span></div>
</div>

<div class="work-block">
	Доставка и&nbsp;прием&nbsp;заказов
	<div class="work-time">
		<span>24</span> часа <span>7</span>дней в неделю
	</div>
</div>