#header
  .box-container
    .box-main
      %a{:href => "/", :class => "logo"}
        %img{:src => "/assets/logo.png", :alt => "Шико Catering Club"}

      = render 'shared/header_info'

    .box-right
      %span.btn-cart
        Ваша корзина пуста