.navigation
  .yellow_rounds
   
  %ul
    %li.selected
      %a{:href => ""}
        %span
          О компании
    %li.del
      %span
        &bull;
    %li
      %a{:href => ""}
        %span
          Меню
    %li.del
      %span
        &bull;
    %li
      %a{:href => ""}
        %span
          Портфолио
    %li.del
      %span
        &bull;
    %li
      %a{:href => ""}
        %span
          Площадки
    %li.del
      %span
        &bull;
    %li
      %a{:href => ""}
        %span
          Наши клиенты
    %li.del
      %span
        &bull;
    %li
      %a{:href => ""}
        %span
          Контакты
