.navigation
  .yellow_rounds
   
  %ul
    %li{:class => "#{'selected' if @albums || @album}"}
      =link_to albums_path do
        %span
          Портфолио
      -#%li{:class => "#{'selected' if @page.parent_path == 'clients' if @page}"}
        %a{:href => "/clients"}
          %span
            Наши клиенты