<div id="work" class="page">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Портфолио</h2>

          <h3 class="title-description">Фотография фиксирует вечность, на деле являясь доказательством того, что всё
            есть лишь краткий миг в глазах вечности. (Али Смит)</h3>
        </div>
      </div>
    </div>
    <!-- End Title Page -->

    <!-- Portfolio Projects -->
    <div class="row">
      <div class="span12">
        <div class="row">
          <section id="projects">
            <ul id="thumbs">

              <%- @albums.each do |album| %>
                  <li class="item-thumbs span3">
                    <a href="<%= album_path(album) %>#work" style="display: block;font-size: 18px;margin-bottom: 7px">
                      <%= album.title %>
                    </a>
                    <a href="<%= album_path(album) %>#work" style="display: block">
                      <%= image_tag album.photos.last.file_url(:thumb) %>
                    </a>
                  </li>
              <%- end %>

            </ul>
          </section>

        </div>
      </div>
    </div>
    <!-- End Portfolio Projects -->
  </div>
</div>