<div id="services" class="page">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Услуги</h2>

          <h3 class="title-description">Профессиональная фотосъемка</h3>

          <div class="page-description">
            <p>Профессиональная фотосъемка – это фотосессия, состоящая из несколько частей. Каждая часть посвящена
              какому-либо образу и ситуации. Для каждого образа продумывается макияж, прическа, наряд. Всё зависит от
              того, какой результат вы ожидаете. Это может быть и деловое портфолио, портфолио домашних питомцев,
              фотосессия мужчин и женщин, семейное портфолио.</p>

            <p>Профессиональная фотосъемка проводится как в студии, так и на выезде: улицы, парки, скверы, павильоны.
              Профессиональную фотосъемку заказать можно для себя, для друзей, родных в качестве подарка.</p>
          </div>

        </div>
      </div>
    </div>
    <!-- End Title Page -->

    <h3>Свадебные тарифы</h3>

    <div class="row margin-40">
      <div class="span6">
        <h4>Тариф «Легкий»:</h4>
        <ul>
          <li>Консультация</li>
          <li>Съемка в Загсе и 2 часа прогулки (репортажная и постановочная съемка)</li>
          <li>Около 200 фотографий</li>
          <li>Авторская обработка (около 30 фотографий)</li>
          <li>Коррекция параметров снимка – минимально необходимые изменение цветовой температуры, яркости,
            контрастности, насыщенности цветов, резкости, детализации, направленные на обеспечение максимальной
            достоверности каждой фотографии.
          </li>
          <li>Запись фотографий на DVD диск</li>
          <li>*Примечание: обращаю Ваше внимание, что время проезда от ЗАГСа до места прогулки (если оно превышает 30
            минут) оплачивается дополнительно по тарифу 2 500 р./час
          </li>
          <li>**Часом считается время превышающее 30 минут.</li>
          <li><b>15 000 рублей.</b></li>
        </ul>
      </div>
      <div class="span6">
        <h4>Тариф «Премиум»:</h4>
        <ul>
          <li>Консультация</li>
          <li>Съемка в Загсе и 2 часа прогулки (репортажная и постановочная съемка)</li>
          <li>Около 200 фотографий</li>
          <li>Авторская обработка (около 30 фотографий)</li>
          <li>Коррекция параметров снимка – минимально необходимые изменение цветовой температуры, яркости,
            контрастности, насыщенности цветов, резкости, детализации, направленные на обеспечение максимальной
            достоверности каждой фотографии.
          </li>
          <li>Запись фотографий на DVD диск</li>
          <li>*Примечание: обращаю Ваше внимание, что время проезда от ЗАГСа до места прогулки (если оно превышает 30
            минут) оплачивается дополнительно по тарифу 2 500 р./час
          </li>
          <li>**Часом считается время превышающее 30 минут.</li>
          <li><b>15 000 рублей.</b></li>
        </ul>
      </div>
    </div>
  </div>
</div>