- @value = []
-for item in @cart.items
  -@value += [item.quantity]
-@quantity = @value.inject(0){ |result, elem| result + elem }
-if @quantity == 0
  Ваша корзина пуста
-else
  В корзине
  = @quantity
  шт.
