<%- @about = true %>
<%- @meta_title = "О компании" %>



<div class="box-container">
  <div class="breadcrumbs">
    <%= link_to 'Главная', '/' %>
    &nbsp;|&nbsp;
    <span>О компании</span>
  </div>
</div>

<div class="box-container box-main-container">

  <h1>О компании</h1>

  <div class="page-about">
    <div class="box-main">
      <ul class="cols images">
        <li>
          <img src="/assets/about/1.jpg" alt=""/>
        </li>
        <li>
          <img src="/assets/about/2.jpg" alt=""/>
        </li>
        <li>
          <img src="/assets/about/3.jpg" alt=""/>
        </li>
      </ul>

      <div class="text">
        <p>Кейтеринговая компания «Шико» оказывает высококачественные услуги в области выездного ресторанного бизнеса,
          обеспечивая индивидуальный подход к каждому клиенту.untitled-5 Мы грамотно спланируем, продумаем до мельчайших
          деталей и проведем на высшем уровне мероприятие любого формата, разработаем меню и подберем оформление,
          учитывая пожелания каждого заказчика. С целью подчеркнуть Вашу индивидуальность, в процессе проектирования
          мероприятия принимает участие дизайнер нашей компании.</p>

        <p>Наши блюда не оставят равнодушными гурманов, а оригинальная подача пробуждает аппетит и радует глаз, при этом
          наши цены Вас приятно удивят. Цель команды «Шико» — обеспечить высококлассный уровень работы кейтеринговой
          компании. Мы дорожим каждым нашим клиентом и делаем все, чтобы к нам обращались снова и снова!</p>
      </div>

      <div class="text-del">
        <h2><span>Ресурсы компании</span></h2>
        <hr/>
      </div>

      <div class="block__info">
        <ul class="cols">
          <li>
            <div class="icon-green">
              <div class="icon30 chef"></div>
            </div>
            <h3>Комманда</h3>

            <div class="text">
              <p>Опытная профессиональная команда поваров, технологов, менеджеров по проведению, обслуживающего
                персонала и административного состава. Каждый из сотрудников работает в области кейтеринга много лет и
                достиг немалого признания в этой сфере.</p>
            </div>
          </li>
          <li>
            <div class="icon-green">
              <div class="icon30 knife"></div>
            </div>
            <h3>Производство</h3>

            <div class="text">
              <p>Все блюда готовятся на собственном производстве на высококачественном профессиональном оборудовании
                ведущих торговых марок: Италия, Германия, Франция. Инвентарная база компании позволяет провести банкет
                на 1000 гостей и фуршет на 1500 гостей, при этом используется инвентарь высокого уровня (тонкое
                французское стекло, французский фарфор, испанский текстиль и т.п.)</p>
            </div>
          </li>
          <li>
            <div class="icon-green">
              <div class="icon30 keks"></div>
            </div>
            <h3>Кондитерская</h3>

            <div class="text">
              <p>Наши кондитеры имеют огромную базу рецептов всевозможных пирожных, тортов и прочих кондитерских
                изделий, а так же опыт работы в лучших ресторанах Москвы. Хлебобулочные изделия от пекарни-кондитерской
                «Шико» всегда свежие, ароматные и поражают своим разнообразием!</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="box-right">

      <%= render_cell :cart, :mini_cart %>

      <div class="box-gray">
        <div class="rounds-top"></div>
        <div class="box-inner">
          <h3>Направления<br/>деятельности </h3>
          <hr/>
          <ul>
            <li><span>Организация выездных банкетов, фуршетов, коктейлей, кофе-брейков для деловых мероприятий, корпоративных проектов и частных торжеств.</span>
            </li>
            <li><span>Организация питания на выставках. С нашей помощью участие на выставке станет ещё более запоминающимся для Ваших потенциальных партнеров. Оформление стенда манящими закусками — отличный способ привлечь к себе внимание!</span>
            </li>
            <li><span><a href="/services/dostavka-kanape/">Доставка канапе</a>. Идеальный вариант для тех случаев, когда Вам необходимо быстро и изысканно оформить праздничный стол легкими вкусным закусками. По Вашему пожеланию, наши сотрудники помогут с сервировкой и подачей угощений.</span>
            </li>
            <li>
              <span>Мини-кейтеринг (или Экпресс-кейтеринг). Данная услуга предполагает доставку выбранных Вами блюд в максимально короткие сроки, а также их сервировку на банкетной посуде. По Вашему пожеланию, сотрудники «Шико» помогут красиво подать угощения и обслужить Ваших гостей</span>
            </li>
          </ul>
        </div>
        <div class="rounds-bottom"></div>
      </div>
    </div>
  </div>

</div>