.main-illustration

.block__promo
  .yellow_rounds
  %ul
    %li
      .icon-green
        .icon30.coffe
      %h3
        Кофе-брейк
      .text
        %p
          Внедрение традиции кофейного перерыва берет свое начало с 1936 года, тогда же появилось устойчивое понятие «кофе брейк», которое за эти годы устойчиво прижилось в бизнес среде, как неотъемлемая часть важных встреч, переговоров, конференций и совещаний.
      = link_to "Подробнее о кофе-брейк", "/about"
    %li
      .icon-green
        .icon30.heart
      %h3
        Свадебный фуршет
      .text
        %p
          Не секрет, что одной из наиболее весомых статей свадебного бюджета является организация банкета. Нередко на него уходит примерно столько же, сколько и на всю остальную свадьбу, а в некоторых случаях — даже больше!
      = link_to "Подробнее о свадебном фуршете", "/about"
    %li
      .icon-green
        .icon30.bow
      %h3
        Аренда персонала
      .text
        %p
          У нас в штате только настоящие профессионалы своего дела, их навыки отточены и проверены годами на многочисленных мероприятиях, база персонала очень обширная, поэтому мы можем предоставить персонал на любое мероприятие в любом количестве.
      = link_to "Подробнее об аренде персонала", "/about"