%h1 Портфолио
%ul.albums
  - @albums.each do |album|
    %li
      =link_to album do
        %h2= album.title
      .photo
        =link_to album do
          = image_tag album.photos.find_last.file_url(:thumb)