%h1= @album.title

%ul.album.js-album.clearfix
  -@index = 0
  -@photos.each do |photo|
    %li.photo
      =link_to photo.file_url(:thumb), :class => 'js-open-photo', :data =>{:index => @index} do
        =image_tag photo.file_url(:thumb)
    -@index = @index + 1


.layer.js-layer
  .prev.js-prev.js-open-photo{:data =>{:index => 0}}
  .next.js-next.js-open-photo{:data =>{:index => 0}}
  .layer_in.js-layer_in