<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<h2>Поступил новый отзыв на сайте <a href="http://shikocc.ru" target="_blank">www.shikocc.ru</a></h2>

<h3><%= @feedback.username %></h3>
<h3><%= @feedback.email %></h3>
<p>
  <%= @feedback.text %>
</p>



</body>
</html>