<html>
<head>
	<title></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body style="margin: 0; padding: 0;" bgcolor="#ffffff" text="#444444" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" link="#5A2A00" alink="#5A2A00" vlink="#5A2A00" style="font: normal 13px Arial;">
<div style="font: normal 13px Arial;">
	<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="100%" align="left" valign="top" bgcolor="#ffffff">
			<table width="700" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td>
					<!-- welcome -->
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td align="left">
							<font color="#444444" face="Arial" size="5" style=" color: #444; font-size: 30px; font-family: Arial;">Здравствуйте, Татьяна!</font>
						</td>
					</tr>
					<tr><td height="30"></td></tr>
					</table>
					
					
					<!-- body -->
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td bgcolor="#ffffff">
							
							
							
							
							<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Контактный телефон:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">+79031518671</font></td>
							</tr>
							<tr>
								<td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Адрес для доставки:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Москва, Ул. Корнейчука, д. 52, кВ. 309</font></td>
							</tr>
							<tr>
								<td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Желаемая дата доставки:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">25.07.13</font></td>
							</tr>
							<tr>
								<td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Желаемое время доставки:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">19:00 - 20:00</font></td>
							</tr>
							<tr>
								<td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Способ оплаты:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Наличными курьеру</font></td>
							</tr>
							<tr>
								<td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Комментарий к заказу:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Опля-ля-ля</font></td>
							</tr>
							<tr>
								<td height="30"></td>
							</tr>
							</table>
							
							
							<table width="100%" cellspacing="1" cellpadding="5" border="0">
							<tr>
								<th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Наименование</font></th>
								<th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Вес</font></th>
								<th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Цена</font></th>
								<th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Кол-во</font></th>
								<th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Сумма</font></th>
							</tr>
							<tr>
								<td bgcolor="#f5f5f5">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Мини-сэндвич с ветчиной, сыром и салатным листом и овощами</font>
								</td>
								<td bgcolor="#f5f5f5" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">20 г.</font>
								</td>
								<td bgcolor="#f5f5f5" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">45 руб.</font>
								</td>
								<td bgcolor="#f5f5f5" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">50</font>
								</td>
								<td bgcolor="#f5f5f5" align="right">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">2200 руб.</font>
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Мини-сэндвич с ветчиной, сыром и салатным листом и овощами</font>
								</td>
								<td bgcolor="#ffffff" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">20 г.</font>
								</td>
								<td bgcolor="#ffffff" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">45 руб.</font>
								</td>
								<td bgcolor="#ffffff" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">50</font>
								</td>
								<td bgcolor="#ffffff" align="right">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">2200 руб.</font>
								</td>
							</tr>
							<tr>
								<td bgcolor="#f5f5f5">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Мини-сэндвич с ветчиной, сыром и салатным листом и овощами</font>
								</td>
								<td bgcolor="#f5f5f5" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">20 г.</font>
								</td>
								<td bgcolor="#f5f5f5" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">45 руб.</font>
								</td>
								<td bgcolor="#f5f5f5" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">50</font>
								</td>
								<td bgcolor="#f5f5f5" align="right">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">2200 руб.</font>
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Мини-сэндвич с ветчиной, сыром и салатным листом и овощами</font>
								</td>
								<td bgcolor="#ffffff" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">20 г.</font>
								</td>
								<td bgcolor="#ffffff" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">45 руб.</font>
								</td>
								<td bgcolor="#ffffff" align="center">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">50</font>
								</td>
								<td bgcolor="#ffffff" align="right">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">2200 руб.</font>
								</td>
							</tr>
							<tr>
								<td colspan="4" bgcolor="#e1e1e1" align="left">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Стоимость доставки:</font>
								</td>
								<td bgcolor="#e1e1e1" align="right">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">300 руб.</font>
								</td>
							</tr>
							<tr>
								<td colspan="4" bgcolor="#d1d1d1" align="left">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Итого:</font>
								</td>
								<td bgcolor="#d1d1d1" align="right">
									<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">4700 руб.</font>
								</td>
							</tr>
							</table>
							
							
						</td>
					</tr>
					</table>


					<!-- footer -->
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tr><td height="20"></td></tr>
					<tr>
						<td valign="top">

							<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">
								С уважением, Воронина Наталья
								<br />
								Шико Catering Club
								<br />
								<a style="color: #5A2A00; font-size: 13px; font-family: Arial; text-decoration: underline;" href="http://www.shikocc.ru"><font color="#5A2A00" face="Arial" size="2" style="color: #5A2A00; font-size: 13px; font-family: Arial;">www.shikocc.ru</font></a>
							</font>
							</br ></br >
							<font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">
								тел: + 7 (495) 943-43-81
								</br >
								email: <a style="color: #5A2A00; font-size: 13px; font-family: Arial; text-decoration: underline;" href="mailto:zakaz@shikocc.ru"><font color="#5A2A00" face="Arial" size="2" style="color: #5A2A00; font-size: 13px; font-family: Arial;">zakaz@shikocc.ru</font></a>
							</font>
						</td>
					</tr>
					</table>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
</div>

</body>
</html>