.container {
  position: relative;
  height: 100%;
  perspective: 2300px;
  overflow: hidden;
}

.cube_action {
  position: absolute;
  top: 200px;
  left: 50%;
  z-index: 100;
  margin-left: -100px;
  width: 200px;
  height: 50px;
  background: #556ba0;
}

.cube {
  //perspective: 2000px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  width: 400px;
  margin: -150px 0 0 -200px;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transform-origin: 50% 50% 50%;
  transition: transform 1s, margin-left 1s;
}

.cube_1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transform-origin: 0 0;
  transition: transform 1s;
  background: #f290ef;
}

.cube_2 {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 100px) rotate3d(0, 1, 0, 90deg);
  //transform-origin: 0 0;
  transition: transform 1s;
  background: #4ff265;
}

.cube_3d_1 {
  .cube {
    transform: rotateY(-90deg);
    margin-left: -400px;
  }
}

.cube_3d_2 {
  .cube {
    transform: rotateY(-360deg);
    margin-left: -200px;
  }
}