html,
body {
  height: 100%;
  background: url(../assets/bgr.jpg);
  color: #263352;
}

.container {
  display: table;
  width: 100%;
  height: 100%;
  font-size: 0;
  .content,
  .sidebar {
    display: table-cell;
    font-size: 14px;
    line-height: 18px;
    vertical-align: top;
  }
  .sidebar {
    width: 200px;
    padding: 25px 30px;
    //background: linear-gradient(to bottom, #DBE2E7, #B9C7D0);
    background: url(../assets/sidebar.jpg);
    //box-shadow: 1px 0 7px #333;
    color: #fff;
  }
  .content {
    .content-in{
      position: relative;
      height: 100%;
      overflow: auto;
    }
  }

}

h1 {
  margin: 0 0 30px 0;
  font-size: 30px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 25px;
}

a {
  color: #0066CC;
  &:hover {
    color: red;
  }
}

.clearfix {
  &:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}