//
// Grid system
// --------------------------------------------------


.box-container {
	.clearfix;
	
	.box-main {
		float: left;
		width: 690px;
		margin-left: 20px;
	}
	
	.box-right {
		float: right;
		width: 220px;
		margin-right: 20px;
	}
}
